<%- include('../partials/header.ejs') %>

<article class="post pure-u-1">

  <header>
    <div class="post-meta">
      <footer>
      <a class="pure-button" href="/">Retour à l'accueil</a>
      </footer>
    </div>
  </header>

    <figure class="post-picture">
      <img class="pure-img" src='/images/page_404.jpg' alt="erreur 404">
    </figure>
    
</article>

<%- include('../partials/footer.ejs') %>